	nav li { display: inline-block }
	nav li { border: 2 px solid black }
	nav li { padding: 10 px;
			margin: auto}
					
					
	a { color: black;
		text-decoration: none }
	a:hover { color: red }


	h1{color:red;
	font-size: 250%;
	font weight: bold;
	color: navy}

	body {background: lightgray;
	color: maroon;
	font-size:14pt; 
	font-family: 'Roboto Slab', serif}
	
	<div class="picture">
		<img src="Maine pic.jpg">
	</div>
	

	
	
	
	